$primary-color: #7C93C3;
$secondary-color: #9EB8D9;
$background-color: #A25772;
$accent-color: #0F0F0F;
$body-text-color: #EEF5FF;
$heading-font-family: 'Bebas Neue', sans-serif;
$body-font-family: 'Raleway', sans-serif;
$base-font-size: 11px;
$base-font-weight: 51px;